.dashboard {
    width: calc(100vw - 350px);
    height: calc(100vh - 50px);
    position: absolute;
    top: 50px;
    right: 0;
    background: radial-gradient(71.11% 100% at 50% 0%, #020204 14.6%, #011F35 100%);

}