<nav class="navbar">
  <ul>
    <li><a (click)="setActive('dashboard'); goToDashboard()" [ngClass]="{'active': activeMenu === 'dashboard'}">Dashboard</a></li>
    <li><a (click)="setActive('markets'); goToMarkets()" [ngClass]="{'active': activeMenu === 'markets'}">Markets</a></li>
    <li><a (click)="setActive('priceCharts'); goToPriceCharts()" [ngClass]="{'active': activeMenu === 'priceCharts'}">Price Charts</a></li>
    <li><a (click)="setActive('portfolio'); goToPortfolio()" [ngClass]="{'active': activeMenu === 'portfolio'}">Portfolio</a></li>
    <li><a (click)="setActive('news'); goToNews()" [ngClass]="{'active': activeMenu === 'news'}">News</a></li>
    <li><a (click)="setActive('topTrades'); goToTopTrades()" [ngClass]="{'active': activeMenu === 'topTrades'}">Top Trades</a></li>
    <li><a (click)="setActive('settings'); goToSettings()" [ngClass]="{'active': activeMenu === 'settings'}">Settings</a></li>
    <li><a (click)="setActive('login'); goToLogin()" [ngClass]="{'active': activeMenu === 'login'}">Login</a></li>
  </ul>
</nav>
